.LayoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.TopContainer {
  position: relative;
}

.BodyContainer {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.BottomContainer {
  position: relative;
}
